@charset "utf-8";

/* theme color */
:root[theme='LIGHT'] {
	--color-text: #202124;
	--color-bg: #fff;
	--color-notebg: #0003;
	--color-notec: #000;
	--color-codebg: #364549;
}

:root[theme='BLUE'] {
	--color-text: aliceblue;
	--color-bg: #0f3057;
	--color-notebg: #fff3;
	--color-notec: #fff;
	--color-codebg: #2d2a2e;
}

:root[theme='BLACK'] {
	--color-text:#eee;
	--color-bg:#222;
	--color-notebg: #fff3;
	--color-notec: #fff;
	--color-codebg: #2d2a2e;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.headcol {
	margin-left: 20px;
}

@media (min-width:680px){
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.main
		> .container {
		margin: 30px 10%;
		align-items: flex-start;
		justify-content: space-between;
		text-align: center;
	}

	body{
		font-size: 110%;
	}
}

@media(max-width:679px){
	.header {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	img{
		width: 80%;
	}
}

body {
	font-family: sans-serif;
	background: var(--color-bg);
	color: var(--color-text);
	margin: 0;
}


header {
	text-align: center;
	background: #0003;
	padding: 0.5em 0px;
}

main{
	margin: 8px;
}

.main {
	text-align: center;
}
nav {
	order: -1;
}

footer {
	background: #0003;
	text-align: center;
}

footer p {
	margin: 0;
	padding: 0.5em;
}

h3, h4 {
	margin: 30px;
}

li {
	line-height: 1.5em;
}

main
	> section
	+ section {
	margin-top: 40px;
}

.pagenav{
	text-align: center;
}

.memo{
	margin-left: 1em;
	border-left: 1px solid  var(--color-text);;
	padding-left: 1em;
}

.note{
	color: var(--color-notec);
	width: fit-content;
	padding: 5px;
	background-color: var(--color-notebg);
}

code{
	font-family: consolas, monospace;
	font-size: 80%;
	color: #fff;
	margin: 0 5px;
	border: 1px solid #424849;
	padding: 1px 2px;
	border-radius: 5px;
	background-color: var(--color-codebg);
}

.cred{	
	color: #f92672;
}

/* リンク色 */
a{
	transition: .3s ease;
}

a:link {
	color: #78b6ed;
	text-decoration: none;
}

a:visited {
	color: #78b6ed;
	text-decoration: none;
}

a:hover {
	color: #d2e7f9;
	text-decoration: none;
}

a:active {
	color: #1f86e0;
	text-decoration: none;
}