@charset "utf-8";
.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

body{
    font-family: sans-serif;
    background: #0f3057;
    color: aliceblue;
    margin: 0;
}

header{
    background: #00000030;
    padding: 0.5em 0px;
}

main{
    font-size: 125%;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    background: #00000030;
    text-align: center;
}

footer p{
    margin: 0;
    padding: 0.5em;
}
/* リンク色 */
a{
    color: #80baee;
    text-decoration: none;
}

a :hover{
    color:hsl(208, 76%, 80%);
    text-decoration: none;
}

a :active{
    color: hsl(208, 76%, 50%);
    text-decoration: none;
}

a :visited{
    color: hsl(208, 60%, 40%);
    text-decoration: none;
}

main > section + section{
    margin-top: 40px;
}