/* ========================
//#google-prettify-monokai-theme-modified
//For use with Google Code Prettify, HTML Syntax only
//======================== */

pre .str, code .str { color: #e6db5a; } /* string */
pre .kwd, code .kwd { color: #66d9ef; } /* keyword */
pre .com, code .com { color: #c1bfb4ad; font-style: italic; } /* comment */
pre .typ, code .typ { color: #66d9ef; } /* type */
pre .lit, code .lit { color: #ae81ff; } /* literal */
pre .pun, code .pun { color: #fff; } /* punctuation */
pre .pln, code .pln { color: #fff; } /* plaintext */
pre .tag, code .tag { color: #f92672; } /* html/xml tag */
pre .atn, code .atn { color: #a6e22a; } /* html/xml attribute name */
pre .atv, code .atv { color: #e6db74; } /* html/xml attribute value */
pre .dec, code .dec { color: #ae81ff; } /* decimal */

pre.prettyprint, code.prettyprint {
	background-color: var(--color-codebg);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	font-family: consolas, monospace;
	overflow: auto;
	resize: horizontal;
}

pre.prettyprint{
	width: 80%;
	margin: 1em 2em;
	white-space: pre-wrap;
	border: 1px solid #424849;
}

@media (min-width:680px){
	pre.prettyprint{
		font-size: 12px;
	}
}

@media(max-width:679px){
	pre.prettyprint{
		font-size: 10px;
	}
}

pre.prettyprint li{
	line-height: 1.4;
	margin: 0;
	padding-left: 1rem;
	background-color: var(--color-codebg);
	list-style: decimal outside; 
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9{
	border-left:1px solid#75715e;
}

/* ------------------------
//Section: class 'linenums' for line numbering
//------------------------ */
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #75715e;
	list-style: decimal inside !important;
} /* IE indents via margin-left */


/* =============================================
//Section: Print Styles (GitHub)
//================================================ */
@media print {
	pre.prettyprinted, pre.prettyprint, code.prettyprint {
		background-color:#fff;
		color:#000;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-o-border-radius:0;
		-ms-border-radius:0;
		-khtml-border-radius:0;
		border-radius:0;
	}
	pre.prettyprint li{
		background-color: #fff;
	}

  .str { color: #d14; }  /* string content */
  .kwd { color: #333; font-weight: bold; }  /* keyword */
  .com { color: #998; font-style: italic; }  /* comment */
  .typ { color: #458; font-weight: bold; }  /* type name */
  .lit { color: #458; }  /* literal value */
  .pun { color: #333; }  /* punctuation */
  .pln { color: #000; }  /* plaintext */
  .opn { color: #333; }  /* lisp open bracket */
  .clo { color: #333; }  /* lisp close bracket */
  .tag { color: #000080; font-weight: bold; }  /* markup tag name */
  .atn { color: #008080; }  /* markup attribute name */
  .atv { color: #d14; }  /* markup attribute value */
  .dec { color: #333; }	  /* declaration */
  .var { color: #008080; }  /* variable name */
  .fun { color: #900; }  /* function name */

}
