body{
	background-color: rgb(15, 48, 87);
	color: rgb(245, 245, 245);
	margin: 0;
	//font-family: sans-serif;
}
a:link,a:visited{color:#aef;}a:hover{color:#8af;}a:active{color:#48f;}

header,footer{
	background-color: rgba(0, 0, 0, 0.2);
	color: #ddd;
	padding: 32px 0;
	text-align: center;
}

header>*{display:inline-block;vertical-align:middle;}
.icon{border-radius:50%;}
.info{text-align:left;margin-left:30px;}
.vat *{vertical-align:top;}
.items{text-align:center;}
.items>div{display:inline-block;text-align:left;}

footer{
	text-align: center;
	font-size: 14px;
	margin: 0;
}

section{
	margin: 8px;
	margin-bottom: 60px;
}


.info h1{
	font-weight: normal;
	font-size: 24px;
	margin: 0;
}
