@charset "utf-8";
header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

ul {
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 1.2em;
}

#contact li {
    list-style-type: none;
}

#contact ul {
    padding: 0;
}

.tweet {
    margin: 30px 0px 0px;
    text-align: right;
}


/* アイコン*/

#mytwitter::before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url(../img/Twitter.png);
    background-size: contain;
    vertical-align: middle;
}

#mygithub::before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url(../img/GitHub.png);
    background-size: contain;
    vertical-align: middle;
}