@charset "utf-8";

body{
    background: #0f3057;
    color: aliceblue;
    margin: 0;
}

header{
    background: #00000030;
    padding: 0.5em 0px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;

}

#column{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

main{
    text-align: center;
    font-size: 125%;
    margin-top: 30px;
    margin-bottom: 30px;
}

main h3{
    text-align: center;
}

main ul{
    text-align: left;
    display: inline-block;
    margin: 0;
}

#contact li{
    list-style-type: none;
}

footer{
    background: #00000030;
    text-align: center;
}

footer p{
    margin: 0;
    padding: 0.5em;
}
/* リンク色 */
a{
    color: #80baee;
    text-decoration: none;
}

a :hover{
    color:hsl(208, 76%, 80%);
    text-decoration: none;
}

a :active{
    color: hsl(208, 76%, 50%);
    text-decoration: none;
}

a :visited{
    color: hsl(208, 60%, 40%);
    text-decoration: none;
}
/* アイコン*/
#mytwitter::before{
    content: '';
    margin-right: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url(img/Twitter.png);
    background-size: contain;
    vertical-align: middle;
}

#mygithub::before{
    content: '';
    margin-right: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url(img/GitHub.png);
    background-size: contain;
    vertical-align: middle;
}

main > section + section{
    margin-top: 40px;
}