@charset "utf-8";
#column{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

main{
    text-align: center;
}
main h3{
    text-align: center;
}

main ul{
    text-align: left;
    display: inline-block;
    margin: 0;
}

#contact li{
    list-style-type: none;
}

/* アイコン*/
#mytwitter::before{
    content: '';
    margin-right: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url(img/Twitter.png);
    background-size: contain;
    vertical-align: middle;
}

#mygithub::before{
    content: '';
    margin-right: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url(img/GitHub.png);
    background-size: contain;
    vertical-align: middle;
}