@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');
:root[theme='Discord'] {
	--color-text: aliceblue;
	--color-bg: #36393f;
}

@media(max-width:649px){
	body{
		font-size: 80%;
	}
	img{
		width: 80%;
	}
	nav>p{
		width:6em;
	}

	
	.input{
		font-size: 80%;
	}
	.add{
		font-size: 80%;
	}
}
@media(min-width:650px){
	nav>p{
		width:12em;
	}
	
	.input{
		font-size: 100%;
	}
	.add{
		font-size:100%;
	}
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: left;
}

body {
	font-family: 'Noto Sans JP',sans-serif;
	background: var(--color-bg);
	color: var(--color-text);
	margin: 0;
}

header {
	text-align: left;
	background: #0003;
	padding: 5px;
	padding-left: 1em;
}

main{
	margin: 8px;
}

h1{
	margin: 0em;
	margin-left: 1em;
}

.main {
	text-align: center;
}

nav {
	padding: 3px;
	background: #2f3136;
	font-size: 80%;
}
nav>p{
	padding: 1em;
	border-radius: 2px;
}
nav>p:hover{
	background: #3c3f45;
}

/* https://webparts.cman.jp/balloon/over/ */
.s {
  position   : relative;                /* 指定した分だけ相対的に移動 */
}
.s:hover .balloon {
  display: inline;                /* インライン要素として表示 */
}
.balloon {
  position   : absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 5px;                         /* テキストの前後の余白 */
  background-color: #18191c;       /* 背景色（透明度） */
  width:max-content;                          /* 吹き出し全体の幅 */
  left : 30%;                           /* 表示位置 */
  bottom : 100%;                        /* 表示位置 */
  margin-bottom : 12px;                 /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
	border-radius: 5px;
}

/* END */

footer {
	background: #0003;
	text-align: center;
}

footer > p {
	margin: 0;
	padding: 0.5em;
}

li {
	line-height: 1.5em;
}

main
	> section
	+ section {
	margin-top: 40px;
}

.container.ico{
	margin: 10px;
}
.ico{
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

.post{
	text-align: left;
	flex-direction: row;
	flex-flow: row;
}
.content{
	flex-direction: column;
}
.member{
	padding: 5px 0 0 0;
	font-weight: 500;
}
img{
	border-radius: 5px;
}

.container.act {
	flex-wrap: wrap;
}

.act div{
	margin: 5px 10px 5px 0;
	padding: 3px;
	border: 1px solid #5562ea;
	border-radius: 3px;
	background-color: #3a3f59;
}

.act div:hover{
	background-color: #fff2;
}


p {
	margin: 0 0 4px 0; 
	color: #dcddde;
}
.data p{
	font-weight: 100;
}

code{
	font-family: consolas, monospace;
	font-size: 80%;
	color: #fff;
	margin: 0 5px;
	border: 1px solid #424849;
	padding: 1px 2px;
	border-radius: 5px;
	background-color: var(--color-codebg);
}

.cred{	
	color: #f92672;
}

.data a{
	color: #00aff4;
	text-decoration: none;
}
a:active{
	color: #025b9e;
}
a:visited{
	color: #8350fb;
}


input:invalid {
	border: solid 1px red;
}
.act button{
	margin: 5px 10px 5px 0;
	padding: 3px;
	border-radius: 3px;
}
.add{
	font-family: 'Noto Sans JP',sans-serif;
	margin: 5px 10px 5px 0;
	padding: 3px;
	border: 1px solid #53565a;
	border-radius: 3px;
	background-color: #35383e;
	color:aliceblue;
}
.add.btn:hover{
	border: 1px solid #5562ea;
	background-color: #3a3f59;
}